@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
    --cream: #fefaf6;
    --moss: #666E2F;
    --honey: #EFBD80;
    --walnut: #351910;
    --charcoal: #252525;

    --font-serif: "Montserrat", Verdana, Tahoma, serif;
    --font-bold: "Staatliches", var(--font-serif);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    font-family: var(--font-serif);
    color:#252525;
    margin: 100;
    padding: 100;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav a{
    text-align: center;
    color: #666E2F;
    text-decoration: none;
    font-family: var(--font-serif);
    font-size: 1.35em;
    font-weight: 600;
}

nav img{
    margin: 7px;
    padding-top: 5px;
}

nav a:hover{
    color: #EFBD80;
    transition: 0.5s;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

footer{
    background-color: var(--moss);
    padding-bottom: 10px;
    margin-top: 10px;
}

footer h4{
    padding: 5px;
    padding-bottom: 5px;
    color: var(--cream);
    font-weight: 600;
}
footer section{
    padding: 25px;
}

footer a{
    color: var(--cream);
    padding-left: 5px;
}

/*homepage, fun work page css*/

.intro section{
    display: flex;
    justify-content: center;
}

.introimg{
    margin-top: -20px;
}

.introtext{
    margin-top: -90px;
    padding: 20px;
    margin-bottom: -50px;
}

h3{
    font-family: var(--font-bold);
    font-weight: 400;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 0px;
    color: var(--charcoal);
}

.arrow h3{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.casestudies section, .funwork section{
    display: flex;
    justify-content: center;
}

.casestudies h2, .funwork h2{
    font-family: var(--font-bold);
    font-weight: 400;
    font-size: 1.5em;
    color: var(--charcoal);
    margin-top: 3px;
    margin-bottom: 30px;

}

.casestudies img, .funwork img{
    width: 100%;
    height: auto;
    max-width: 350px;
    border-radius: 15px;
}

.funworkintro section{
    display:flex;
    align-content: center;
}

.funworkintro h1{
    font-family: var(--font-bold);
    text-align: center;
    font-size: 1.75em;
    margin: 30px auto;
}

/*case study 1 and 2 css*/

.casestudy h2{
    font-family: var(--font-bold);
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
}

.casestudyinfo h3{
    text-align: left;
    font-size: 1.5em;
    color:#666E2F;
    margin-left: 30px;
}

.casestudymain h3{
    text-align: left;
    font-size: 1.75em;
    color:#666E2F;
    margin-left: 30px;
    margin-top: 30px;
}

.casestudymain h4{
    font-family: var(--font-bold);
    text-align: left;
    font-size: 1.5em;
    color:#252525;
    margin-left: 30px;
    margin-top: 10px;
}

p{
    margin: 0px 30px 20px 30px;
}

.casestudy ul li{
    list-style: inside;
    margin: 0px 30px 10px 30px;
}

.casestudy img{
    padding: 10px 30px;
}

.notice h3{
    text-align: center;
    margin: 30px;
}

