@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
    --cream: #fefaf6;
    --moss: #666E2F;
    --honey: #EFBD80;
    --walnut: #351910;
    --charcoal: #252525;

    --font-serif: "Montserrat", Verdana, Tahoma, serif;
    --font-bold: "Staatliches", var(--font-serif);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    font-family: var(--font-serif);
    color:#252525;
    margin: 100;
    padding: 100;
}

/* navigation css */

nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.menu li{
    list-style: none;
}

.menu li a{
    color: var(--moss);
    text-decoration: none;
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 1.5em;
    display: block;
    padding: 20px 30px;
    line-height: 1;
}

.hamburger{
    position: absolute;
    width: 30px;
    height: 4px;
    background: var(--moss);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.5s;
}

.hamburger:before, .hamburger:after{
    content:"";
    position: absolute;
    height: 4px;
    right: 0;
    background: var(--moss);
    border-radius: 10px;
}

.hamburger:before{
    top: -10px;
    width: 20px;
}

.hamburger:after{
    top: 10px;
    width: 25;
}

.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger, .toggle-menu{
    display: none;
}

.navbar input:checked ~ .hamburger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
    background-color: var(--cream);
}

.navbar input:checked ~ .hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
    background-color: var(--cream);
}

.navbar input:checked ~ .menu{
    right: 0;
}

/* hamburger menu for tablet/mobile sizes for easier navigation */
@media (max-width: 926px){
    .hamburger, .toggle-menu{
        display: block;
    }
    .navbar{
        padding: 40px;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        background: var(--moss);
        width: 100%;
        height: 100vh;
        padding-top: 150px;
        transition: 0.5s;
    }
    .menu li a{
        color: var(--cream);
        font-size: 3em;
        padding: 30px;
    }
}

/* footer css */

footer{
    background-color: var(--moss);
    padding-bottom: 10px;
    margin-top: 10px;
}

footer h4{
    padding: 5px;
    padding-bottom: 5px;
    color: var(--cream);
    font-weight: 600;
}

footer section{
    padding: 25px;
}

footer a{
    color: var(--cream);
    padding-left: 5px;
}

/* homepage, fun work page css */

.intro section{
    display: flex;
    justify-content: center;
}

.introimg{
    margin-top: -20px;
}

.introtext{
    margin-top: -90px;
    padding: 20px;
    margin-bottom: -50px;
}

h3{
    font-family: var(--font-bold);
    font-weight: 400;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 0px;
    color: var(--charcoal);
}

.arrow h3{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.casestudies section, .funwork section{
    display: flex;
    justify-content: center;
}

.casestudies h2, .funwork h2{
    font-family: var(--font-bold);
    font-weight: 400;
    font-size: 1.5em;
    color: var(--charcoal);
    margin-top: 3px;
    margin-bottom: 30px;
}

.casestudies img, .funwork img{
    width: 100%;
    height: auto;
    max-width: 350px;
    border-radius: 15px;
}

.funworkintro section{
    display:flex;
    align-content: center;
}

.funworkintro h1{
    font-family: var(--font-bold);
    text-align: center;
    font-size: 1.75em;
    margin: 30px auto;
}

/* case study 1, case study 2, and all fun projects css */

.casestudy img, video{
    width: 100%;
}

.casestudy h2{
    font-family: var(--font-bold);
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
}

.casestudyinfo h3{
    text-align: left;
    font-size: 1.5em;
    color:#666E2F;
    margin-left: 30px;
}

.casestudymain h3{
    text-align: left;
    font-size: 1.75em;
    color:#666E2F;
    margin-left: 30px;
    margin-top: 30px;
}

.casestudymain h4{
    font-family: var(--font-bold);
    text-align: left;
    font-size: 1.5em;
    color:#252525;
    margin-left: 30px;
    margin-top: 10px;
}

p{
    margin: 0px 30px 20px 30px;
}

.casestudy ul li{
    list-style: inside;
    margin: 0px 30px 10px 30px;
}

.casestudy img, video{
    padding: 10px 30px;
}

.notice h3{
    text-align: center;
    margin: 30px;
}

.funwork video{
    padding: 10px 30px;
}

/* about page css */

.about h3{
    margin: 0px 30px 10px 30px;
}

.contact{
    margin: 25px;
}

.contact a{
    color: var(--moss);
    padding: 0px 5px;
    font-size: 1.5em;
}

.button{
    color: var(--cream);
    background-color: var(--moss);
    border: none;
    border-radius: 15px;
    font-family: var(--font-bold);
    text-align: center;
    font-size: 1.25em;
    padding: 5px 15px;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
}

.resume h4{
    text-align: left;
    font-family: var(--font-bold);
    font-size: 1.75em;
    color:#666E2F;
    margin-left: 30px;
    margin-top: 30px;
}

.resume h5{
    text-align: left;
    font-family: var(--font-serif);
    font-size: 1em;
    margin: 5px 30px;
}

.resume ul{
    margin: 5px 30px 30px 20px;
}

.resume ul li{
    list-style: inside;
    margin: 0px 30px 5px 30px;
}

.resume p{
    margin: 0px 30px;
}